In [ ]:
print("Hello world!")

 # Hello world with a variable
msg = "Hello world!"
print(msg)

 # Concatenation (combining strings)
first_name = 'albert'
last_name = 'einstein'
full_name = first_name + ' ' + last_name
print(full_name)

Hello world!
Hello world!
albert einstein

In [ ]:
x = str(5) # x will be ’5’
y = int(5) # y will be 5
z = float(5) # z will be 5.0

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
name = input("Enter name: ")
print("name is: " + name)

In [ ]:
age = input("Enter your age: ")
age = int(age)

print("Age is: ", age)

In [ ]:
x = 10
y = 5

print(x + y) # Addition

print(x - y) # Subtraction
print(x * y) # Multiplication

print(x / y) # Division

print(x % y) # Modulus

print(x ** y) # Exponentiation


print(x // y) # Floor division

15
5
50
2.0
0
100000
2

In [ ]:
x = 10
y = 5

print(x == y) # Equal

print(x != y) # Not equal

print(x > y) # Greater than

print(x < y) # Less than

print(x >= y) # Greater than or equal to

print(x <= y) # Less than or equal to

False
True
True
False
True
False

In [ ]:
x = 10

print(x < 5 and x < 10) # Returns True if both statements are true

print(x < 5 or x < 4) # Returns True if one of the statements is true

print(x < 5 and x < 10) # Reverse the result, returns False if the result is true

False
False
False

In [ ]:
# Create a List
thislist = ["apple", "banana", "cherry"]
print(thislist)

# Lists allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

thislist = [1, 5, 7, 9, 3]
print(len(thislist))

3
5

In [ ]:
list = ["apple", "banana", "cherry"]

 # Get the first item in a list
print(list[0])

# Get the last item in a list
print(list[-1])

apple
cherry

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

# This will return the items from index 0 to index 5.
print(thislist[:5])

# This will return the items from index 2 to the end.
print(thislist[2:])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]

# To change the value of a specific item, refer to the index number
thislist[1] = "blackcurrant"
print(thislist)

7# Change the second value by replacing it with two new values
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("mango")
thislist.append("orange")
thislist.append("gauva")
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'orange', 'gauva']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
list2 = ["mango", "pineapple", "papaya"]
thislist.extend(list2)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana") # Remove "banana"
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1) # Remove the second item
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop() # Remove the last item
print(thislist)

['apple', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0] # Remove the first item
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist # Delete the entire list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear() # Clear the list content
print(thislist)

[]

In [ ]:
a = 10
b = 20
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 20
b = 10
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")
else:
 print("a is greater than b")

a is greater than b

In [ ]:
x = 15

if x > 5:
 print("Above ten,")
if x > 10:
 print("and also above 20!")
else:
 print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
a = 20
b = 5

if a > b:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 2
b = 3

if a > b:
 print("A")
else:
 print("B")

B