<a href="https://colab.research.google.com/github/khshohelrana/Python_Data-Mining/blob/main/Data_mining_labManual02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# range(5) is not the values of 0 to 5, but the values 0 to 4.
for i in range(5):
  print(i)



 # range(2, 5), which means values from 2 to 5 (but not including 5)
for i in range(2, 5):
  print(i)

 # Increment the sequence with 3 (default is 1):
for i in range(2, 20, 3):
  print(i)

# Here, else keyword indicates a block of code to be executed when the loop is finished:
for i in range(5):
  print(i)
else:
  print("Finally finished!")

fruits = ["orange", "apple", "cherry"]
for i in fruits:
  print(i)

 # Loop through the letters in the word "orange":

for i in "orange":
  print(i)
 # Loop through the letters in the word "orange":

fruits = ["orange", "apple", "cherry"]
for i in fruits:
  print(i)
  if i == "apple":
   break

0
1
2
3
4
2
3
4
2
5
8
11
14
17
0
1
2
3
4
Finally finished!
orange
apple
cherry
o
r
a
n
g
e
orange
apple

In [ ]:
i = 1
while i < 5:
 print(i)
 i += 1
i = 1
while i < 5:
 print(i)
 if i == 2:
  break
 i += 1

i = 0
while i < 5:
 i += 1
 if i == 2:
  continue
 print(i)

i = 1
while i < 5:
 print(i)
 i += 1
else:
 print("i is no longer less than 5")

1
2
3
4
1
2
1
3
4
5
1
2
3
4
i is no longer less than 5

In [ ]:
def my_function():
  print("Hello World")

my_function() # Calling my_function()

 # Passing Argument
def my_function(name):
  print("name " + name)

my_function("Mike")
my_function("Monica")
my_function("John")
 # Passing multiple Arguments
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

 # Arbitrary Arguments, *args
def my_function(*names):
 print("Name= " + names[2])

my_function("Mike", "Monica", "John")

 # Send arguments with the key = value syntax.
def my_function(name3, name2, name1):
 print("Name= " + name3)

my_function(name1 = "Mike", name2 = "Monica", name3 = "John")

def my_function(**name):
 print("His last name is " + name["lname"])

my_function(fname = "Mike", lname = "Monica")
# Passing a List as an Argument
def my_function(food):
 for i in food:
  print(i)

fruits = ["orange", "apple", "cherry"]

my_function(fruits)
 # Return Values
def my_function(a):
 return 5 * a

print(my_function(3))
print(my_function(5))
print(my_function(9))

 # Recursion Example
def my_recursion(k):
 if(k > 0):
  result = k + my_recursion(k - 1)
  print(result)
 else:
  result = 0
 return result

print("\n\nRecursion Example Results")
my_recursion(6)

Hello World
name Mike
name Monica
name John
Emil Refsnes
Name= John
Name= John
His last name is Monica
orange
apple
cherry
15
25
45


Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
class MyClass:
 a = 5

p1 = MyClass()
print(p1.a)

5

In [ ]:
class Employee:
 def __init__(self, name, age):
  self.name = name
  self.age = age

e1 = Employee("John", 26)

print(e1.name)
print(e1.age)

John
26

In [ ]:
class Employee:
 def __init__(self, name, age):
  self.name = name
  self.age = age


 def myfunc(self):
  print("Hello my name is " + self.name)
e1 = Employee("John", 26)
e1.myfunc()
class Employee:
  def __init__(myObject, name, age):
   myObject.name = name
   myObject.age = age

  def myfunc(xy):
   print("Hello my name is " + xy.name)


e1 = Employee("John", 26)
e1.myfunc()

Hello my name is John
Hello my name is John

In [ ]:
# Modify Object Properties
class Employee:
 def __init__(self, name, age):
  self.name = name
  self.age = age

 def myfunc(self):
   print("Hello my name is " + self.name)


e1 = Employee("John", 26)
e1.age = 30
print(e1.age)
 # Delete Object Properties
class Employee:
 def __init__(myObject, name, age):
  myObject.name = name
  myObject.age = age

 def myfunc(xy):
  print("Hello my name is " + xy.name)



e1 = Employee("John", 26)
del e1.age
print(e1.age)