<a href="https://colab.research.google.com/github/khshohelrana/Python_Data-Mining/blob/main/data_miningLab_Report01_shl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
full_name = first_name + " " + last_name
print("Full name:", full_name)

Enter your first name: kh. shohel
Enter your last name: rana
Full name: kh. shohel rana

In [ ]:
n = input("Enter an integer: ")
result = int(n) + int(n*2) + int(n*3)
print("Result:", result)

Enter an integer: 13
Result: 132639

In [ ]:
import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2
print("Area of the circle:", area)

Enter the radius of the circle: 7
Area of the circle: 153.93804002589985

In [ ]:
number = int(input("Enter a number: "))
if number % 2 == 0:
 print("The number is even.")
else:
 print("The number is odd.")

Enter a number: 24
The number is even.

In [ ]:
numbers = input("Enter comma-separated numbers: ")
number_list = numbers.split(",")
print("List of numbers:", number_list)

Enter comma-separated numbers: 1,2,3,4,5,6,7
List of numbers: ['1', '2', '3', '4', '5', '6', '7']

In [ ]:
colorList = ["Red", "Green", "White", "Black"]
print("First color:", colorList[0])
print("Last color:", colorList[-1])

First color: Red
Last color: Black

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
largest = max(num1, num2, num3)
print("The largest number is:", largest)

Enter first number: 12
Enter second number: 11
Enter third number: 14
The largest number is: 14.0

In [ ]:
grades = {"John": "A", "Jane": "B", "Doe": "C"}
for student, grade in grades.items():
 print(f"{student}: {grade}")

John: A
Jane: B
Doe: C

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if num1 == num2 == num3:
 result = 3 * (num1 + num2 + num3)
else:
 result = num1 + num2 + num3
print("Result:", result)

Enter first number: 22
Enter second number: 23
Enter third number: 24
Result: 69

In [ ]:
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
sum_even = sum(x for x in numbers if x % 2 == 0)
sum_odd = sum(x for x in numbers if x % 2 != 0)
print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Enter numbers separated by space: 9 7 8 12 25 65 87 96 84
Sum of even numbers: 200
Sum of odd numbers: 193

In [ ]:
a = float(input("Enter first side: "))
b = float(input("Enter second side: "))
c = float(input("Enter third side: "))
if a + b > c and a + c > b and b + c > a:
 print("The triangle is valid.")
else:
 print("The triangle is not valid.")

Enter first side: 14
Enter second side: 11
Enter third side: 17
The triangle is valid.

In [ ]:
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
smallest = min(numbers)
print("The smallest number is:", smallest)

Enter numbers separated by space: 1 6 9 8 15 45 63 52
The smallest number is: 1

In [ ]:
result = sum(x for x in range(50, 101) if x % 3 == 0 and x % 5 != 0)
print("Sum of numbers:", result)

Sum of numbers: 1050

In [ ]:
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
unique_numbers = list(set(numbers))
unique_numbers.sort()
second_highest = unique_numbers[-2]
print("The second highest number is:", second_highest)

Enter numbers separated by space: 25 6 32 41 12 57
The second highest number is: 41

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
 factorial *= i
print("Factorial:", factorial)

Enter a number: 58
Factorial: 2350561331282878571829474910515074683828862318181142924420699914240000000000000

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
for _ in range(n):
 print(a, end=" ")
 a, b = b, a + b

Enter the number of terms: 16
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

In [ ]:
def largest(num1, num2):
 return max(num1, num2)
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("The largest number is:", largest(num1, num2))

Enter first number: 11
Enter second number: 52
The largest number is: 52.0

In [ ]:
def sum_numbers(*args):
 return sum(args)
print("Sum:", sum_numbers(1, 2, 3, 4, 5))

Sum: 15

In [ ]:
def student(name, age, grade):
 student.name = name
 student.age = age
 student.grade = grade
student("John", 20, "A")
print("Name:", student.name)
print("Age:", student.age)
print("Grade:", student.grade)

Name: John
Age: 20
Grade: A

In [ ]:
def studentId(student_id, name=None, student_class=None):
 print("Student ID:", student_id)
 if name and student_class:
  print("Name:", name)
  print("Class:", student_class)
studentId(12345)
studentId(12345, "John Doe", "10th Grade")

Student ID: 12345
Student ID: 12345
Name: John Doe
Class: 10th Grade

In [ ]:
class Student:
 pass
class Marks:
 pass
student1 = Student()
marks1 = Marks()
print(isinstance(student1, Student)) # True
print(isinstance(marks1, Marks)) # True
print(issubclass(Student, object)) # True
print(issubclass(Marks, object)) # True

True
True
True
True

In [ ]:
class Student:
 def __init__(self, studentName, marks):
  self.studentName = studentName
  self.marks = marks
student = Student("John", 85)
print("Original values:", student.studentName, student.marks)
student.studentName = "Jane"
student.marks = 90
print("Modified values:", student.studentName, student.marks)

Original values: John 85
Modified values: Jane 90

In [1]:
class Student:
 def __init__(self, studentId, studentName):
  self.studentId = studentId
  self.studentName = studentName
student = Student(12345, "John Doe")